## Acknowledgement

This notebook is adapted from the following kernels in the Human Protein Atlas Image Classification challenge.

* Protein Atlas - Exploration and Baseline: 
https://www.kaggle.com/allunia/protein-atlas-exploration-and-baseline
* Exploring the human protein atlas images -

## Our goal
* Predict various protein structures and in cellular images
* There are 28 different target proteins.
* Multiple proteins can be present in one image (multi-label classification)

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('../data/train.csv')
df.head()

                                     Id   Target
0  00070df0-bbc3-11e8-b2bc-ac1f6b6435d0     16 0
1  000a6c98-bb9b-11e8-b2b9-ac1f6b6435d0  7 1 2 0
2  000a9596-bbc4-11e8-b2bc-ac1f6b6435d0        5
3  000c99ba-bba4-11e8-b2b9-ac1f6b6435d0        1
4  001838f8-bbca-11e8-b2bc-ac1f6b6435d0       18

In [5]:
sample = df.loc[0]
sample

Id        00070df0-bbc3-11e8-b2bc-ac1f6b6435d0
Target                                    16 0
Name: 0, dtype: object

In [6]:
list(map(int, sample.Target.split()))

[16, 0]

In [7]:
# convert target into list of integer
convertion_func = lambda x: list(map(int, x.split()))
df['Target'] = df['Target'].apply(convertion_func)
df.head()

                                     Id        Target
0  00070df0-bbc3-11e8-b2bc-ac1f6b6435d0       [16, 0]
1  000a6c98-bb9b-11e8-b2b9-ac1f6b6435d0  [7, 1, 2, 0]
2  000a9596-bbc4-11e8-b2bc-ac1f6b6435d0           [5]
3  000c99ba-bba4-11e8-b2b9-ac1f6b6435d0           [1]
4  001838f8-bbca-11e8-b2bc-ac1f6b6435d0          [18]

In [13]:
# look for label distribution
num_samples = len(df)
num_labels = 28
label_count = [0] * num_labels
for _, row in df.iterrows():
    for target in row['Target']:
        label_count[target] += 1

label_percentage = [float(count) / num_samples for count in label_count]
for idx, percentage in enumerate(label_percentage):
    print('Class-{:.2f}%'.format(percentage * 100))

41.47%
4.04%
11.65%
5.02%
5.98%
8.09%
3.24%
9.08%
0.17%
0.14%
0.09%
3.52%
2.21%
1.73%
3.43%
0.07%
1.71%
0.68%
2.90%
4.77%
0.55%
12.16%
2.58%
9.54%
1.04%
26.48%
1.06%
0.04%